<% provide(:title, "Регистрация") %>

<header>
<h1>Регистрация</h1>
</header>

<nav>
  <ul>
    <li><%= link_to "Назад", root_path %></li>
    <li><%= link_to "Вход", '#' %></li>
  </ul>
</nav>

<section>

</section>

<footer>
<p>По всем вопросам обращаться на sergey12vn@gmail.com или по телефону +38 (000) 000-00-00</p>
</footer>