<% if @user.errors.any? %>
  <div id="error_explanation">
    Форма содержит <%= pluralize(@user.errors.count, "ошибка") %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>